<footer>

      <ul class="list-inline">
          <li>
              <a href="/about/">About</a>
          </li>
          <li>
              <a href="#">Terms</a>
          </li>
          <li>
              <a href="http://goo.gl/9lctG9">Order</a>
          </li>
          <li>
              <a href="#">FAQ</a>
          </li>
      </ul>
    <p>&copy; 2017 <a rel="nofollow" target="blank" href="http://telaatmoda.github.io/">Tela at Moda</a> All Rights Reserved.</p>

    <ul class="list-inline">
        <li>
          <a style="color:#fda3be"class="fa fa-facebook-square" href="https://www.facebook.com/TelaAtModaInfinityDress/"></a>
        <li>
          <a style="color:#fda3be"class="fa fa-instagram" href="https://www.instagram.com/telaatmodaph/"></a>
        </li>
        <li>
          <a style="color:#fda3be"class="fa fa-twitter" href="#"></a>
        </li>
        <li>
          <a style="color:#fda3be"class="fa fa-youtube-play" href="#"></a>
        </li>
    </ul>
</footer>
