<footer>
    <p>&copy; 2017 <a rel="nofollow" target="blank" href="https://www.telaatmoda.com">Tela at Moda</a> All Rights Reserved.</p>
  </div>

    <ul class="list-inline">
        <li>
            <a href="/about/">About</a>
        </li>
        <li>
            <a href="#">Terms</a>
        </li>
        <li>
            <a href="http://goo.gl/9lctG9">Order</a>
        </li>
        <li>
            <a href="#">FAQ</a>
        </li>
    </ul>
    <ul class="list-inline">
        <li>
          <a style="color:pink"class="fa fa-facebook-square" href="https://www.facebook.com/TelaAtModaInfinityDress/"></a>
        <li>
          <a style="color:pink"class="fa fa-instagram" href="#"></a>
        </li>
        <li>
          <a style="color:pink"class="fa fa-twitter" href="#"></a>
        </li>
        <li>
          <a style="color:pink"class="fa fa-youtube-play" href="#"></a>
        </li>
    </ul>
</footer>
