<header id="header" class="intro-header bg-primary text-center" style="background-image: url('/img/bg4.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="post-heading">
              <br>
                <h1>Connect with us!</h1>
              </br>
              <hr>
              <div class="col-md-12" align="center">
                      <a href="http://goo.gl/9lctG9" class="btn btn-outline btn-xl page-scroll" >Order now!</a>
                      <hr>
                      <h3>Contact Information</h3>
                      <p>Call : +63 905 814 5434 | Email : telaatmodaph@gmail.com</p>
              </div>

        </div>
        </div>
    </div>
  </div>
</header>
