<header id="header" class="intro-header bg-primary text-center" style="background-image: url('/img/wedding.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Share your story</h1>
                        <a href="/contact/" class="btn btn-outline btn-xl page-scroll">Contact us!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
